@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --font-fira: "Fira Code", "sans-serif";
  --color-principal: oklch(66.77% 0.170 275.95);
  --color-secondary: oklch(89.40% 0.086 73.69);
  --color-body: oklch(17.65% 0.002 197.01)
}

@layer base {
  body {
    @apply font-fira text-base text-white bg-body;
  }

  html {
    @apply scroll-smooth
  }
}
